.auth-page {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth-page .input-group-prepend {
  padding: 5px;
}
.auth-page .mb-3 .form-control {
  width: 300px;
}
.auth-page .btn-auth .btn {
  width: 300px;
}
.auth-page .label-auth {
  color: #130e0e;
  line-height: 16px;
  font-size: 15px;
  font-weight: 700;
}