.avaComment{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .commentBox{
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  .usernameComment{
    padding-top: 10px;
    padding-left: 20px;
  }
  .non-margin{
    margin: 0px;
  }
  .non-padding{
    padding: 0px;
  }
  button{
      outline: none;
  }
  a{
      outline: none;
  }
  .contentComment{padding: 5px 5px 0px 15px}
  .NotVote{background-color: #fff;}
  .voted{background-color: red;}